---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official Website! You can find links to my blog and portfolio up above! 
			</p>
			<p>
				This website is re-generated every time I make a change to my code repository 
				using pipeline builds in Github Actions. The content for the blogs is all stored in Markdown, and
				the tool called "Astro" generates HTML files for it according to the specified style, every time a code change is made. 
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Want to take a look at my various thoughts that I post on Linkedin?<a
					href="www.linkedin.com/in/evangrace/"
					>Evan's Linkedin Page
				</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
